<title>Calendar</title>
{% extends "base.html" %}
<!-- ... -->

<!-- Django commands so that each page displays the same header and loads the CSS files-->
{% block head %}

{% block title %} {{ block.super}}{% endblock %}{% endblock %}

{% load l10n %}

{% block content %}

<!--The navigation menu -->
<head>
	<ul>
		<!-- if the user is logged in and is Admin the Admin Link will display -->
		{% if user.is_superuser %}
			<li><a class="nav" href="{% url 'admin:index' %}">Admin</a></li>
		{% endif %}
			<li><a href="{% url 'about' %}">About</a></li>
			<li><a href="{% url 'contact' %}">Contact</a></li>	
			<li><a href="{% url 'help' %}">Help</a></li>
			<li><a href="{% url 'settings' %}">Settings</a></li>
	</ul>
	
	<!--Current Year -->
	<div id = "yearheading">
	<p>{{ year }}</p>
	</div>
</head>

<!--Main body of the page-->
<body>
	<!-- Table with the months of the year-->
	<div id="year">

	{% for year, months in years %}
		<table border="5" align="center" width="80%">
		<tr height="150px" width="250px">
		{% for month in months %}
			<td align = "center" width="150px" class= {% if day == 0 %}"empty"{% endif %}
				 <td align = "center" width="150px" class= {% if day == 0 %}"empty"{% endif %}
					{% if month.current %}"current"
					onMouseOver="this.bgColor='#0098cc';"	
					onMouseOut="this.bgColor='white';"
			{% endif %}
					{% if not month.current %}"month"
					onMouseOver="this.bgColor='grey';"
					onMouseOut="this.bgColor='white';"
			{% endif %}>
				{% if month.record %}<b><i> {% endif %}
					<font size="5">
							<a class = "month" href="{% url 'month' year month.n %}">{{ month.name }}</a>
					</font>
				{% if month.record %}</i></b> {% endif %}
				
				{% if month.n == 6 %}<br></tr><tr height="150px" width="250px">{% endif %}	
		{% endfor %}
			</td>
		</tr>
		</table> 
		<!--Next and Previous Year Buttons -->
		<p align="center">
			<a class = "prev"  href="{% url 'calendar' year|add:'-1' %}">Previous Year</a>
			<a class = "next" href="{% url 'calendar' year|add:'1' %}">Next Year</a>
		</p>
	</div>
	
	{% endfor %}
	
	
			
		
	
</body>

<!--Logout and Return Buttons -->
<footer>
	<a class = "logout" href="{% url 'logout' %}">Logout</a>
	<a class = "return" href="{% url 'welcome' %}">Return</a>
</footer>


{% endblock content %}
