<title>Logout</title>
{% extends "base.html" %}
<!-- ... -->

<!-- Django commands so that each page displays the same header and loads the CSS files-->
{% load staticfiles %}

{% block content %}

<!--The navigation menu -->
<head>
	<ul>
		<li><a href="{% url 'about' %}">About</a></li>
		<li><a href="{% url 'contact' %}">Contact</a></li>
		<li><a href="{% url 'help' %}">Help</a></li>
	</ul>
</head>

<!--Main body of the page-->
<body>
	<p class = "text"> You have now logged out, please close the browser, or log back in to your account
				by clicking the return button. </p>
	<a class = "login" href="{% url 'index' %}">Return</a>
</body>

{% endblock %}