<title>Settings</title>
{% extends "base.html" %}
<!-- ... -->

<!-- Django commands so that each page displays the same header and loads the CSS files-->
{% load staticfiles %}

{% block content %}

<!--The navigation menu -->
<head>
	<ul>
		<!-- if the user is logged in and is Admin the Admin and Settings Link will display 
			and if the user is logged in but is not an Admin user the Settings link will display -->
		{% if user.is_authenticated %}
		   {% if user.is_superuser %}
			<li><a class="nav" href="{% url 'admin:index' %}">Admin</a></li> 
		   {% endif %}
			<li><a href="{% url 'settings' %}">Settings</a></li>
		{% endif %}
			<li><a href="{% url 'about' %}">About</a></li>
			<li><a href="{% url 'contact' %}">Contact</a></li>	
			<li><a href="{% url 'help' %}">Help</a></li>
			
	</ul>
	
	<!--Title of the page -->
	<h2>Settings </h2>
</head>

<body>
	<!--<p class = "text">Settings Page is a success</p>-->
	
	<!--{% if user.is_authenticated %}
	<form action="" method="POST"> {% csrf_token %}
		<p class="options">Show All Entries:
    		<input type="checkbox" name="show_users" {% if show_users %}checked{% endif %} />
		<input type="submit" onclick="return confirm('Are you sure?')" value="Save" /></p>
	</form>-->
	
	<a class = "changePassword" >Change Password</a>
	{% endif %}
	
</body>

<!-- Logout and Return Buttons will only display if the user is logged in-->
<footer>
{% if user.is_authenticated %}
	<a class = "logout" href="{% url 'logout' %}">Logout</a>
	<a class = "return" href="{% url 'welcome' %}">Return</a>
{% endif %}
</footer>

{% endblock content %}