<title>Trailer List </title>
{% extends "base.html" %}
<!-- ... -->

<!-- Django commands so that each page displays the same header and loads the CSS files-->
{% block head %}

{% block title %} {{ block.super}}{% endblock %}{% endblock %}

{% load l10n %}

{% block content %}

<!--The navigation menu -->
<head>
	<ul>
		<!-- if the user is logged in and is Admin the Admin Link will display -->
		{% if user.is_superuser %}
			<li><a class="nav" href="{% url 'admin:index' %}">Admin</a></li>
		{% endif %}
			<li><a href="{% url 'about' %}">About</a></li>
				<li><a href="{% url 'contact' %}">Contact</a></li>	
			<li><a href="{% url 'help' %}">Help</a></li>
			<li><a href="{% url 'settings' %}">Settings</a></li>
	</ul>

	<!--Title of the page -->
	<h2>Trailer Records: </h2>
</head>

<!--Main body of the page-->
<body>
<div id = "trailer_list">
	<table>
		<tr>
		   <!--<th> ID </th>-->
		   <th> Trailer Number</th>
		   <th> Trailer Type</th>
		   <th>Year of Registration </th>
		   <th>Author </th>
		   <th style = "width:100px;">  </th>
		</tr>

		{% for r in obj %}
		
		<tr>
		   <!--<td> {{ r.id }} </td>-->
		   <td><a class = "link" href="{% url 'editTrailer' r.id %}">{{ r.trailer_Number }} </td>
		   <td> {{ r.trailer_Type }} </td>
		   <td> {{ r.trailer_Year }} </td>
		   <td> {{ r.author }} </td>
		   <td><a class = "link" href = "{% url 'deleteTrailer' r.id %}"onclick = "return confirm('Trailer Record will be deleted, are you sure?')">Delete Trailer</td>
		</tr>

		{% empty %} 
		<h3> There are no records in the Trailer table, please add a Trailer </h3>
		{% endfor %}
		
		<tr>
			<th colspan="6" style = "height:40px;"><a class ="link" href="{% url 'trailer' %}">Add New Trailer</a></th>
		</tr>
	</table>
</div>	
</body>

<!--Logout and Return Buttons -->
<footer>
	<a class = "logout" href="{% url 'logout' %}">Logout</a>
	<a class = "return" href="{% url 'welcome' %}">Return</a>
</footer>

{% endblock %}