<title>Password Change Form</title>
{% extends "base.html" %}
<!-- ... -->

<!-- Django commands so that each page displays the same header and loads the CSS files-->
{% load staticfiles %}

{% block content %}

<!--The navigation menu -->
<head>
	<ul>
		<!-- if the user is logged in and is Admin the Admin and Settings Link will display 
			and if the user is logged in but is not an Admin user the Settings link will display -->
		{% if user.is_authenticated %}
		   {% if user.is_superuser %}
			<li><a class="nav" href="{% url 'admin:index' %}">Admin</a></li> 
		   {% endif %}
			<li><a href="{% url 'settings' %}">Settings</a></li>
		{% endif %}
			<li><a href="{% url 'about' %}">About</a></li>
			<li><a href="{% url 'contact' %}">Contact</a></li>	
			<li><a href="{% url 'help' %}">Help</a></li>
			
	</ul>
	
	<!--Title of the page -->
	<h2>Password Change Form</h2>
</head>

<body>
	<form action = "" method = "post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type = "submit" value = "Submit"/>
	</form>
</body>

{% endblock %}
